
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
   font-size: 88%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;

}


body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;
   width: 10rem;
   
}
:root{
    --swich-color:rgb(27, 23, 255);
    --black--:black;
    --black-1-:rgb(5, 4, 4);
    --white-1-:#fff;
    --white-2-:#eee;
    --green--1:green;
    --green--1:rgb(28, 179, 28);
    --bg--1:rgb(17, 11, 32);
    --bg--2:rgb(8, 8, 24);
}
/*------Asside start---*/


.main-asside{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:var(--white-1-);
    min-height: 100%;
    width: 270px;
    margin-left: -270px;
}
.shawakh{
  
    z-index: 100;
    width: 100%;
    position: fixed;
    left: 0;
    padding: 1rem;
    background-color: var(--swich-color);
    display: flex;
    bottom: 0;

}
.shawakh h3{
    color:var(--white-1-);
    font-size: 1.5rem;

}
.shawakh  a{
    color:var(--white-1-);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    
}
.nav{
  display: block;
  min-width: 100%;  
  margin-top: -1rem;
 justify-content: space-between;
 
 padding-left: 2rem;
 
 color: var(--green--1);
}
.nav li {
    margin-top: 2.1rem;
    font-size: 2rem;
    list-style-type: none;
}

   .nav li a{
    color: black;
    font-size: 2rem;
   }
   .nav li a:hover{
    color: var(--swich-color)
   }
  
  
.logo{
    
    padding-left: 1.7rem;
    padding-top: 3rem;
    padding-right: 1.5rem;
   
}
.logo h3{
    letter-spacing: .5rem;
    font-size: 3rem;
    color: var(--swich-color);
}
a{
    text-decoration: none;
}
.icon {
    
    font-size: 2rem;
    content: var(--swich-color);
    margin-left: 87%;
    padding-bottom: 1.5rem;
   position: absolute;

   
}
.hed h2{
  color: var(--swich-color);
    font-size: 2rem;
    letter-spacing: .2rem;
}
.icon i{
    margin-top: .2rem;
    color: var(--swich-color);
}
.icon i:hover{
    color: var(--black-1-);  
  }
/*------Asside end---*/


.theme-buttons-container{
   
    z-index: 200;
       padding: 1rem;
    padding-right: 1rem;
    background-color: beige;
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem,4fr));
    gap: 1rem;
    justify-content: space-between;
    margin-top: 3rem;
}
.theme-buttons-container .color{
   
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    border-radius: 50%;
   width: 2rem;
}



/*-------header start---*/

.header-top
{
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: var(--white-2-);
}
.search{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.search .serch{
    display: flex;
   
  width: 100%;
}
.search .serch button{
    background-color: var(--swich-color);
    color: var(--white-1-);
    padding: .5rem;
}
.search .catygor{
    display: flex;
  width: 100%;
}
.search .catygor select option{
    padding: 1rem;
}
.search .catygor span{
   
    background-color: var(--swich-color);
    color: var(--white-1-);
    font-size: 1.4rem;
}
.hed{
    display: flex;
   justify-content: space-between;
}
.hed .menu-1{
    display: none;
}
.hed i
{
    font-size: 1.7rem;
    color: var(--swich-color);
    padding-left: 1rem;
    
}
.card-header {
    padding: 1rem;
}
.hed i:hover
{
   
    color: var(--black-1-);
}
.hed i{
    padding-top: 0rem;
}

.main-content{
   position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: var(--white-2-);
    min-height: 100%;
    left: 0px;
    display: block;
}
.main-content .close{
    display: none;
}

.bng {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    width: 70%;
}
.bng h3{
    color: var(--swich-color);
    font-size: 2rem;
    letter-spacing: .5rem;
    
}
.bng p{
    color: var(--white-1-);
    font-size: 1.5rem;
    padding-right: 1rem;
    letter-spacing: .3rem;
}
.bng button{
    background-color: var(--swich-color);
   font-size: 1.5rem;
   color: var(--white-1-);
   padding: .5rem;
   border-radius: .5rem;
}
.bng button:hover{
    background-color: var(--white-1-);
    color: var(--black-1-);
    letter-spacing: .1rem;
}
.home{
    margin-top: 3rem;
    background-image: url(image/home-panel-11-1.jpg);
    background-repeat: no-repeat;
    width: 100%;
   min-height: 100vh;
   display: flex;
   background-size: cover;
   background-position: center;
  position: relative;
}
.shape{
    border-top-right-radius:1rem ;
    background-image: url(image/shape-bottom.png);
  
    width: 100%;
    height: 13rem;
   position: absolute;
   background-size: 350rem 13rem;
  bottom: -.5rem; left: 0;
  animation: natuush 25s linear infinite;
}
@keyframes natuush{
    0%{
        background-position-x: 0;
    }

100%{
    background-position-x:500rem;

}
}
.shap{
    border-top-right-radius:1rem ;
    background-image: url(image/shape-bottom.png);
  
    width: 100%;
    height: 13rem;
   position: absolute;
   background-size: 350rem 13rem;
  bottom: -.5rem; left: 0;
  animation: natuus 25s linear infinite;
}
@keyframes natuus{
    0%{
        background-position-x: 0;
    }

100%{
    background-position-x:500rem;

}
}


/*table product*/
table th{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-1-);
   
}
.table-product{
    overflow: scroll;
}
.table-product::-webkit-scrollbar{
    display: none;
}
table thead{
    background: var(--swich-color);
}
table  tr {
    border-bottom: 1px solid #dddddd;
}
table tr td{
    font-size: 1.5rem;
    font-weight: bold;
}
table tr:nth-of-type(even) {
    background: linear-gradient(400deg, var(--swich-color),0.5%, rgb(199, 199, 199));
}
tr:nth-of-type(even) td{
    color: #eee;
}
table tr:last-of-type {
    border-bottom: 2px solid var(--swich-color);
}
.product-adds 
{
    margin-top: 12rem;
}
.table-product img{
    width: 4rem;
    height: 4rem;
    border: none;
}
.top-products{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;

}
.top-products i{
    background-color: var(--swich-color);
    padding:.5rem;
    height: 2.8rem;
    border-radius: .5rem;
    margin-right: 2rem;
    font-size: 2rem;
    color: var(--white-1-);
}




























/*------content end---*/

/*------js start---*/
.content.active .main-content h2,
.content.active .main-content .top-products h2,
.content.active .main-content table tr td,
.content.active .main-content  .profile .center a,
.content.active .main-content .total-price .total,
.content.active .main-content .qty .number,
.content.active .main-content .productName h2,
.content.active .main-content .productPrice h2,
.content.active .main-content .row .footer_name h4,
.content.active .main-content .catigory p,
.content.active .main-content .footer .catigory li,
.content.active .main-content .abou-us .contents p,
.content.active .main-content .contact .numbers span a{
 color: var(--white-2-);
}
.content.active .main-content .profile h2,
.content.active .main-content .productDesc p,
.content.active .main-content .row p,
.content.active .main-content .row .footer_food .price-items .price,
.content.active .main-content .total-price .totals,
.content.active .main-content .cart-price .first,
.content.active .main-content .cart-header span,
.content.active .main-content .cart-des .cart-name span{
    color: var(--white-1-);
}
.content.active .main-content .cart-header .cleer{
    color: var(--swich-color);
}

.content.active .main-content .produc,
.content.active .main-content .form-2,
.content.active .main-content .profile,
.content.active .main-content .hearts,
.content.active .main-content .cart-header button,
.content.active .main-content .cart,
.content.active .main-content .header-top{
    background-color: var(--black-1-);
}
.content.active .main-content .header-top input,
.content.active .main-content .header-top select,
.content.active .main-content .header-top select option
{
    background-color: var(--black--);
    color: var(--white-2-);
}
.content.active .main-content .contact .container-1 .form-1 input,
.content.active .main-content .contact .container-1 .form-1 textarea{
    background-color: var(--white-1-);
    border-radius: .5rem;
}
.content.active .main-content .footer,
.content.active .main-content .row,
.content.active .main-content .contact .container-1 .form-1,
.content.active .main-content .contact .numbers span{
    background-color: var(--black-1-);
}

.content.active .main-content .contact{
    background-color: var(--black--);
}
.content.active .main-content .food{
    border-bottom: 1px solid var(--white-1-);
}
.content.active .main-content  .hed i:hover
{
   
    color: var(--white-1-);
   font-size: 1.8rem;
}
.content.active .main-content .controls button{
    color: var(--swich-color);
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: none;
    background-color: black;
}
.content.active .main-content .controls button:hover{
    color: rgb(255, 255, 255);
}
.content.active .main-content .nav-1{
    background-color: var(--black-1-);
}
.content.active .main-content .hed{
 background-color: var(--black-1-);
}
 .content.active .main-content
 
 
 {
    background-color: var(--bg--2);

}
.content.active .main-asside .icon i:hover{
  color: var(--white-1-);
}
.content.active .main-asside{
    background-color: var(--bg--1);
    border: .1rem solid rgb(85, 85, 85);
}
.content.active .main-content .hed{
   
    border-bottom: .1rem solid rgb(85, 85, 85);
}
.content.active .main-asside ul li a
{

    color: white;
}
.content.active .main-asside ul li a:hover
{

    color: var(--swich-color);
}
.content.active .main-content .close{
   display: inline-block;
}
.content.active .main-content .toggleButton{
  display: none;
}
.active .fa-moon{
    display: none;
}

.closes .main-content{
    background-color: #fff;
}




.action .main-asside{
   margin-left: 0;
  
}

.action .main-content{
    left: 270px
}
.action .fa-bars{
    display: none;
}
/*------js end---*/

